* {  
    font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"; 
    letter-spacing: 0.04em; 
}
html, body { 
    background: coral;
    
    height: 100%;
    position: relative;
}

H1, H2, H3, H4, H5 {
    font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}

.burger-box {
    padding: 15px 15px 10px 15px;
    border-radius: 5px;
    background: rgba(255,255,255,0.6);
    margin: 30px 0 20px 0;
    width: 48%;
    float: left; 
}

.burger-box.burgers-devoured {
    float: right;
}
.burger-box H5 { 
    display: block; 
    border-bottom: 1px solid grey;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
}

.burger-box p {
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
    color: brown;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
}

.burger-box ol { 
    margin : 0 0 0 0;
    padding: 10px;
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid #CCC;
}
.burger-box ol li { 
    list-style: none;
    line-height: 1.2em;
    margin: 0 0 6px 0;
    color:  black;
    position: relative;
}

#floating-content {
    background: lightsalmon url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS70GZod_uXRUIS5cqBD-9sqf69xFGGMs7CMVdWfCETyAaoyTpXKA") center center no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 60%;
    padding: 30px; 
    width: 90%;
    max-width: 600px;
    border: 1px solid #999;
    border-radius: 14px;
}

.text-white { 
    color: yellow;
}
 
.devour { 
    position: absolute; 
    z-index: 100;
    right: 0px;
    top: 0px;
    margin: 0px 0 0 0;
    font-size: 9px; 
    text-decoration: none;
    border: 1px solid gold;
    background-color: gold;
    padding: 2px 5px;
    text-transform: uppercase;
    border-radius: 5px;
}

.burgers-ready li {
    padding: 3px 0 5px;
    padding-right: 50px;
    
}

.burgers-devoured li span,
.burgers-ready li span {
    color: purple;
    padding: 4px 0 10px;
    line-height: 1.2em;
    font-size: 12px;
    display: block;
    font-family: Helvetica;
    clear: both;
    border-bottom: 1px solid #CCC;
}

.ready-count, .devoured-count { 
    float: right; 
    font-size: 15px; 
    color: green;
}

.form-container {

    width: 100%;
}

.form-content {
    background: rgba(255,255,255,.75);
    border-radius: 4px;
    width: 100%;
    float: left;
    padding: 30px;
}

.form-content label { 
    display: block; 
    clear: both;
}
.form-content select, 
.form-content input {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    height: 33px;
    margin: 8px 10px 10px 0;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 4px 10px;
    width: 70%;
}

.form-content select {
    margin: 0;
    clear: both;
}

.form-content select.error, 
.form-content input.error { 
    border: 1px solid #FF0000;
}

.form-content button {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0 0px 0 0;
    padding: 4px 10px;
    border-radius: 5px;
    background-color:brown;
    color: #FFF;
    text-transform: uppercase;
    font-size: 11px;
    height: 34px;
    min-width: 120px;
    text-align: center;
}

@media(max-width: 990px) {

    #floating-content {
        position: relative; 
        top: auto;
        margin-top: 100px;
    }

    .form-container { 
        position: relative;
        bottom: auto;
        margin: 60px auto;
    }

    .burger-box {
        left: auto;
        top: auto;
        position: relative;
        margin: 10px auto;
        width: 100%;
    }

    .burger-box.burgers-ready { 
        margin-top: 100px;
    }
    
    .burger-box.burgers-devoured {
        right: auto;
        top: auto;
        width: 100%;
        position: relative;
        margin: 10px auto;
    }


}